OPENAI_API_KEY=...
# Used for open model experiments
HF_API_TOKEN=...
HF_USER_ID=...
VLLM_LOGGING_LEVEL=DEBUG
VLLM_N_GPUS=1
VLLM_MAX_LORA_RANK=8
VLLM_MAX_NUM_SEQS=512

# Paths for artifacts and data (defaults to local folders if not set)
ARTIFACTS_DIR=/path/to/artifacts
DATA_DIR=/path/to/data
